body {
    background-color: rgb(209, 235, 245);
}

.heading {
    color: rgb(214, 112, 57);
    background-color: blanchedalmond;
    padding: 1px;
    text-align: center;
    font-style: italic;
}

.navbar {}

.menu ul li {
    display: inline-block;
}

.menu ul li a {
    text-decoration: none;
    color: black;

}